In [3]:
#imports first
import pandas as pd 
from sklearn.linear_model import LinearRegression
# Read the the data set 'insurance.csv'
df = pd.read_csv('insurance.csv')

In [4]:
# Check the features type
print(df.dtypes)

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [5]:
# Check the variety of each feature 'dtype: object' 

df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
# Convert the object types to categorical types
# Tips:
# Change ['male'] = 0, ['female'] = 1
# Change ['yes'] = 1, ['no'] = 0
# Change ['southeast'] = 0
# Change ['southwest'] = 1
# Change ['northeast'] = 2
# Change ['northwest'] = 3
df['sex'] = df['sex'].replace({'male':0 , 'female':1})
df['smoker']= df['smoker'].replace({'yes':1,'no':1})
df['region']=df['region'].replace({'southeast':0})
df['region']=df['region'].replace({'soutwest':1})
df['region']=df['region'].replace({'notheast':2})
df['region']=df['region'].replace({'northwest':3})
#reason for error: pressed run again and program couldn't find the 'male', 'female', 'yes/no' etc 
#because it was already converted

In [7]:
# Divide the data set to X and Target ('charges')
X= df[['age', 'sex', 'bmi', 'children', 'smoker']]
Target= df[['charges']]

In [8]:
# Split X and Target into the x_train, x_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Target, random_state=42)

In [9]:
# Build a LinearRegression and train the model
lr = LinearRegression().fit(X_train, y_train)

In [10]:
# Evaluate the model on train and test set
print("Training set score: {:.2f}".format(lr.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lr.score(X_test, y_test)))

Training set score: 0.12
Test set score: 0.13